* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

.modalBody {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  display: none;
}
.modalWindow {
  background: rgb(255, 244, 230);
  color: aliceblue;
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.active {
  display: inline;
  display: flex;
  align-items: center;
  justify-content: center;
}
